コンテナ上でCircleCIのSSHデバッグをする際に使用するSSHキー情報を「id_github」ファイルで作成します。
予めGitHub上にキー情報が登録されている必要があります。

[Mac]
次のコマンドを実行して、ファイルをコピーしてください。
```shell
cp .devcontainer/.ssh/id_github.example .devcontainer/.ssh/id_github
```

次のコマンドをホストマシン側のターミナル上で実行してキー情報をコピーしてください。
```shell
cat ~/.ssh/id_ecdsa | pbcopy
```
