.amplify-table {
  width: 700px !important;
}

// .table-tr {
//   font-weight: normal !important;
//   background-color: white !important;

//   &-saturday {
//     background-color: #93FFFF !important;
//   }

//   &-sunday {
//     background-color: #FF9393 !important;
//   }

//   &-today {
//     background-color: #FFFF93 !important;
//   }
// }

.table-td {
  white-space: nowrap !important;

  &-head {
    @extend .table-td;
    text-align: center;
  }

  &-body {
    @extend .table-td;

    & > div {
      text-align: center;
    }

    &-time > div, &-date > div {
      text-align: right;
    }
  }

  &-description {
    max-width: 300px;
  }
}
